body {
    background-image: url("../pic&gif/indexhtml_background.jpg");
    
}

#submit1 {
    background-color: #28dd89;
}

#finbert {
    font-size: 60px;
    color: #28dd89; 
}

.ui.search.dropdown.selection{
    font-size:18px
}
.ui.selection.dropdown {
    font-size:18px;
}