body {
    background-image: url("../pic&gif/indexhtml_background.jpg");
    background-size: 1753px;
    
}
@media (min-width: 1800px) {
    body{
        background-size: 1937px !important;
    }
    
}
@media (max-width: 1300px) {
    body{
        background-size: 1366px !important;
    }
    
}
body img{
    transform: rotate(90deg);
    
}

#submit1 {
    background-color: #28dd89;
}

#finbert {
    font-size: 70px;
    color: #28dd89; 
}

.ui.search.dropdown.selection{
    font-size:18px
}
.ui.selection.dropdown {
    font-size:18px;
}

#introduction{
    position:relative;
    left:4px;
    font-size:16px
}
