@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
	--primary-color: #28dd89;
	--secondary-color: #d1ffea;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}


.container {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.tabs {
	display: flex;
	position: relative;
	background-color: #fff;
	box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15);
	padding: 0.75rem;
	border-radius: 99px; // just a high number to create pill effect
	* {
		z-index: 2;
	}
}

input[type="radio"] {
	display: none;
}

.tab {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	width: 60px;
	font-size: 1rem;
	font-weight: 500;
	border-radius: 99px; // just a high number to create pill effect
	cursor: pointer;
	transition: color 0.15s ease-in;
	margin-bottom: 0px;
}

.notification {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
	margin-left: 0.75rem;
	border-radius: 50%;
	background-color: var(--secondary-color);
	transition: 0.15s ease-in;
}

input[type="radio"] {
	&:checked {
		& + label {
			color: var(--primary-color);
			& > .notification {
				background-color: var(--primary-color);
				color: #fff;
			}
		}
	}
}

input[id="radio-1"] {
	&:checked {
		& ~ .glider {
			transform: translateX(0);
		}
	}
}

input[id="radio-2"] {
	&:checked {
		& ~ .glider {
			transform: translateX(100%);
		}
	}
}

#radio-3 {
	&:checked {
		& ~ .glider {
			transform: translateX(200%);
		}
	}
}
input[id="radio-4"] {
	&:checked {
		& ~ .glider {
			transform: translateX(300%);
		}
	}
}
#radio-5 {
	&:checked {
		& ~ .glider {
			transform: translateX(400%);
		}
	}
}
#radio-6 {
	&:checked {
		& ~ .glider {
			transform: translateX(500%);
		}
	}
}
#radio-7 {
	&:checked {
		& ~ .glider {
			transform: translateX(600%);
		}
	}
}
#radio-8 {
	&:checked {
		& ~ .glider {
			transform: translateX(700%);
		}
	}
}
#radio-9 {
	&:checked {
		& ~ .glider {
			transform: translateX(800%);
		}
	}
}
#radio-10 {
	&:checked {
		& ~ .glider {
			transform: translateX(900%);
		}
	}
}
#radio-11 {
	&:checked {
		& ~ .glider {
			transform: translateX(1000%);
		}
	}
}
#radio-12 {
	&:checked {
		& ~ .glider {
			transform: translateX(1100%);
		}
	}
}
#radio-13 {
	&:checked {
		& ~ .glider {
			transform: translateX(1200%);
		}
	}
}
#radio-14 {
	&:checked {
		& ~ .glider {
			transform: translateX(1300%);
		}
	}
}
#radio-15 {
	&:checked {
		& ~ .glider {
			transform: translateX(1400%);
		}
	}
}
#radio-16 {
	&:checked {
		& ~ .glider {
			transform: translateX(1500%);
		}
	}
}
#radio-17 {
	&:checked {
		& ~ .glider {
			transform: translateX(1600%);
		}
	}
}
#radio-18 {
	&:checked {
		& ~ .glider {
			transform: translateX(1700%);
		}
	}
}
.glider {
	position: absolute;
	display: flex;
	height: 25px;
	width: 60px;
	background-color: var(--secondary-color);
	z-index: 1;
	border-radius: 99px; // just a high number to create pill effect
	transition: 0.25s ease-out;
}

@media (max-width: 1000px) {
	.tabs {
		transform: scale(0.6);
	}
}