@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');
/*
body {
    background-image: url("../pic&gif/indexhtml_background.jpg");
    
    
}*/
#topselect {
    position: relative;
    left: 60px;
    width:auto
    /*margin-left: 60px;*/
}
#submit1 {
    background-color: #28dd89;
}

#companyname_typebutton{
    position: relative;
    top: 20px;
    left:60px;
}

#companyname_typebutton div{
    margin:5px;
}

#typebutton{
    width: 700px;
    position: relative;
    left:30px;
}



#report_outline{
    justify-content: center;
    align-items: center;
    margin-top:50px;
}

#reportrow {
    
    position: relative;
    margin-bottom:100px;
    
}

#parent_leftreport{
    height: 700px;
    width:700px;
}
#reportyear_curr{
    margin-bottom:25px;
    font-size: 20px;
    margin-left:13px
}
#itemlist_leftreport{
    position:relative;
    left:-3px;
}
#itemlist2_curr{
    position: absolute;
    left: -8px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
#leftreport {
    position: relative;
    overflow-y:auto; 
    align-items:center;
    font-size: 18px;
    line-height: 40px;
    height: 700px;
    width:700px;
    border-left:3px solid rgb(220, 220, 220);
    
}
#report1{
    
    margin:3px;
}

/* /////// */

#parent_rightreport{
    height: 700px;
    width:700px;
}
#reportyear_last {
    margin-bottom: 25px;
    font-size: 20px;
    margin-left: 35px;
}
#itemlist_rightreport{
    position:relative;
    left:20px;
}
#itemlist2_last{
    position: absolute;
    left: -8px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
#rightreport {
    
    position: relative;
    overflow-y:auto; 
    align-items:center;
    font-size: 18px;
    line-height: 40px;
    height:700px;
    width:700px;
    border-left:3px solid rgb(220, 220, 220);
}
#report2{
    
    margin:3px;

}
/*
.senA {
    background-color: #FFFF66;
    border-radius: 25px;
    cursor: pointer;
    padding: 0.25em 0;
}
.senB {
    background-color: #FFFF66;
    border-radius: 25px;
    cursor: pointer;
    padding: 0.25em 0;
    
    
}
*/

.senB:hover{
    transition-duration: 0.3s;

    box-shadow:0 5px 15px 0px rgba(0,0,0,0.125);
}

/*change year form*/



#year_button{
    position: relative;
    margin-top: 50px;
}

#leftform {
    position: absolute;
    left: 8px;
    bottom:440px;
    z-index: 2;
}
#rightform {
    position: absolute;
    right: 8px;
    bottom:440px;
    z-index: 2;
}

#itemlist2_curr {
    position: relative;
    width: 10px; 
    height:700px;
    
}


#itemlist2_last {
    position: relative;
    width: 10px; 
    height:700px;
    
}
#itemlist2_curr p{
    position: relative;
    font-size: 10px;
    font-weight: bold;
    color: grey
}
#itemlist2_last p{
    position: relative;
    font-size: 10px;
    font-weight: bold;
    color: grey
}