/* introcss */




@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');
/*
body {
    background-image: url("../pic&gif/indexhtml_background.jpg");
    
    
}*/
@media (max-width: 1800px) {
    #typebutton{
        left:1123px !important;
    }
}
@media (max-width: 1600px) {
    #typebutton{
        left:1018px !important;
    }
}

@media (max-width: 1400px) {
    #typebutton{
        left:885px !important;
    }
    #parent_rightreport{
        width:640px !important; 
    }
    #parent_leftreport{
        width:640px !important;
    }
}


@media (max-width: 1300px) {
    #parent_rightreport{
        width:565px !important;
    }
    #parent_leftreport{
        width:565px !important;
    }
    #typebutton{
        left:785px !important;
    }
    #button1{
        font-size:14px !important;
    }
    #button2{
        font-size:14px !important;
    }
    
    #button3{
        font-size:14px !important;
    }

}

@media (max-width: 1100px) {
    #parent_rightreport{
        width:470px !important;
    }
    #parent_leftreport{
        width:470px !important;
    }
    #typebutton{
        left:600px !important;
    }
    #companyname{
        font-size:35px !important;
    }
}
@media (max-width: 1000px) {
    #parent_rightreport{
        width:430px !important;
    }
    #parent_leftreport{
        width:430px !important;
    }
    #typebutton{
        left:565px !important;
    }
    #button1{
        font-size:10px !important;
    }
    #button2{
        font-size:10px !important;
    }
    
    #button3{
        font-size:10px !important;
    }
}
@media (min-width: 1600px) {
    #parent_rightreport{
        width:780px !important;
    }
    #parent_leftreport{
        width:780px !important;
    }
    #typebutton{
        left:1186px !important;
    }
}
@media (min-width: 1800px) {
    #parent_rightreport{
        width:800px !important;
    }
    #parent_leftreport{
        width:800px !important;
    }
    #typebutton{
        left:1303px !important;
    }
}

@media (min-width: 2000px) {
    #parent_rightreport{
        width:850px !important;
    }
    #parent_leftreport{
        width:850px !important;
    }
    #typebutton{
        left:1459px !important;
    }
}
#introduction{
    color:#544d4d;
}

hr{
    width: 92%;
    position: relative;
    top: 37px;
    z-index: 3;
    left:8px;
}

.ui.search.dropdown.selection{
    font-size:18px
}
.ui.selection.dropdown {
    font-size:18px;
}

#companyname{
    font-size:30px;
    font-weight:600;
}
#topword{
    font-size:35px;
    font-weight: 750;
}

#topselect {
    position: relative;
    left: 60px;
    width:auto
    /*margin-left: 60px;*/
}
#submit1 {
    background-color: #28dd89;
}

#companyname_typebutton{
    position: relative;
    top: 30px;
    left:25px;
}

#companyname_typebutton{
    height: 50px;
    margin:5px;
}
#typebutoutline{
    height: 30px;
}
#typebutton{
    
    width: 700px;
    position: relative;
    left:1160px ;
    

}
#button1{
    font-size:16px;
}
#button2{
    font-size:16px;
}

#button3{
    font-size:16px;
}


#report_outline{
    justify-content: center;
    align-items: center;
    
    margin-bottom: 100px;
}

#reportrow {
    
    position: relative;
    margin-bottom:100px;
    
}


#reportyear_curr{
    margin-bottom:25px;
    font-size: 16px;
    margin-left:13px;
    width: 78px
}
#reportyear_curr_box{
    
}
#itemlist_leftreport{
    position:relative;
    left:-3px;
}
#itemlist2_curr{
    position: absolute;
    left: -8px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#leftreport {
    position: relative;
    overflow-y:auto; 
    align-items:center;
    font-size: 16px;
    line-height: 40px;
    height: 700px;
    width:700px;
    border-left:3px solid rgb(220, 220, 220);
    
}
#report1{
    
    margin:3px;
}

/* /////// */


#reportyear_last {
    margin-bottom: 25px;
    font-size: 16px;
    margin-left: 35px;
   
    width: 78px

}
#itemlist_rightreport{
    position:relative;
    left:20px;
}
#itemlist2_last{
    position: absolute;
    left: -8px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
#rightreport {
    
    position: relative;
    overflow-y:auto; 
    align-items:center;
    font-size: 16px;
    line-height: 40px;
    height:700px;
    width:700px;
    border-left:3px solid rgb(220, 220, 220);
}
#report2{
    
    margin:3px;

}
/*
.senA {
    background-color: #FFFF66;
    border-radius: 25px;
    cursor: pointer;
    padding: 0.25em 0;
}
.senB {
    background-color: #FFFF66;
    border-radius: 25px;
    cursor: pointer;
    padding: 0.25em 0;
    
    
}
*/

.senB:hover{
    transition-duration: 0.3s;

    box-shadow:5px 5px 10px grey;
}

/*change year form*/



#year_button{
    position: relative;
    margin-top: 50px;
}

#leftform {
    position: absolute;
    left: 8px;
    bottom:539px;
    z-index: 2;
}
#rightform {
    position: absolute;
    right: 0px;
    bottom:539px;
    z-index: 2;
}

#itemlist2_curr {
    position: relative;
    width: 10px; 
    height:700px;
    
}


#itemlist2_last {
    position: relative;
    width: 10px; 
    height:700px;
    
}
#itemlist2_curr p{
    position: relative;
    font-size: 10px;
    font-weight: bold;
    color: grey
}
#itemlist2_last p{
    position: relative;
    font-size: 10px;
    font-weight: bold;
    color: grey
}